{{> head }}
{{> head }}
    {{> menu }}

<div class="Row">
    <div class="col-8">
        <h1></h1>
    </div>

    <div class="col-4">
        <a href="/">
            <img src="assets/img/thethian.jpg" class="img-thumbnail" alt="Inicio">
        </a>
    </div>
</div>

{{> footer }} 